---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { db, User, Libros } from 'astro:db';
import { eq } from 'astro:db';

const usuarios = await db.select().from(User);
const libros = await db.select().from(Libros);

const user = Astro.locals.user;
console.log(user);

---

<Layout title="Welcome to Astro.">
	<main id="main">
		<h2>Usuarios</h2>
    <h1></h1>
        <!-- {
            usuarios.map(({nombreUsuario}) => (
              <article>
                <p>Usuario: {nombreUsuario}</p>
              </article>
            ))
        } 
        {
            libros.map(({tituloLibro, nombreAutor, portadaLibro, fechaPubLibro, fondoLibro}) => (
              <article>
                <p>Titulo: {tituloLibro}</p>
                <p>Autor: {nombreAutor}</p>
                <img src={portadaLibro} alt={`Portada de ${tituloLibro}`}>
                <img src={fondoLibro} alt={`Portada de ${fondoLibro}`}>
                <p>Fecha: {fechaPubLibro}</p>
              </article>
            ))
        } -->
        <h1 class="mx-[77px] my-10 text-3xl font-bold" id="busquedaUsuario"></h1>
        <div class="flex flex-row justify-center flex-wrap mx-[77px] my-10 gap-10" id="bookInfoContainer"></div>
        <!-- esto habra que ponerlo en el header para que aparezcan cerrar sesion en su perfil si hay usuario  -->
        {user && <form  method="post" action="/api/signout"><button>Sign out</button></form>}
	</main>

    
</Layout>
<script>
  //   function getAllBooks() {
  //       fetch('/api/books')
  //       .then(response => response.json())
  //       .then(data => {
  //       	console.log(data);
  //       })
  //       .catch(error => console.error('Error:', error));
  //   }
	// getAllBooks();
</script>
<script src="../scripts/buscador.js"></script>
<script src="/src/scripts/sesion.js"></script>

