---
import Layout from '../layouts/Layout.astro';
import CarouselNovedades from '../components/CarouselNovedades.astro';
import CarouselRanking from '../components/CarouselRanking.astro';
import { db, User, Session, Libros } from 'astro:db';
import { eq } from 'astro:db';

const usuarios = await db.select().from(User);
const sesion = await db.select().from(Session);
const libros = await db.select().from(Libros);

if(Astro.locals.user){
  const user = Astro.locals.user;
  const usuarios = await db.select().from(User).where(eq(User.id, user.id));
  const [infoUser] = usuarios;
  const alias = infoUser.aliasUsuario;
  
  console.log(sesion);
}

---

<Layout title="Welcome to Astro.">
	<main id="main">
		<h2>Usuarios</h2>
    <CarouselNovedades/>
    <br><br><br>
    <CarouselRanking/>
    <h1></h1>
        <!-- {
            usuarios.map(({nombreUsuario}) => (
              <article>
                <p>Usuario: {nombreUsuario}</p>
              </article>
            ))
        } 
        {
            libros.map(({tituloLibro, nombreAutor, portadaLibro, fechaPubLibro, fondoLibro}) => (
              <article>
                <p>Titulo: {tituloLibro}</p>
                <p>Autor: {nombreAutor}</p>
                <img src={portadaLibro} alt={`Portada de ${tituloLibro}`}>
                <img src={fondoLibro} alt={`Portada de ${fondoLibro}`}>
                <p>Fecha: {fechaPubLibro}</p>
              </article>
            ))
        } -->
        <h1 class="mx-[77px] my-10 text-3xl font-bold" id="busquedaUsuario"></h1>
        <div class="flex flex-row justify-center flex-wrap mx-[77px] my-10 gap-10" id="bookInfoContainer"></div>
        <!-- esto habra que ponerlo en el header para que aparezcan cerrar sesion en su perfil si hay usuario  -->
	</main>

    
</Layout>
<script>
  //   function getAllBooks() {
  //       fetch('/api/books')
  //       .then(response => response.json())
  //       .then(data => {
  //       	console.log(data);
  //       })
  //       .catch(error => console.error('Error:', error));
  //   }
	// getAllBooks();
</script>
<script src="../scripts/buscador.js"></script>
<script src="/src/scripts/sesion.js"></script>

