---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { db, User, Libros } from 'astro:db';

const usuarios = await db.select().from(User);
const libros = await db.select().from(Libros);

---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Usuarios</h2>
        {
            usuarios.map(({nombreUsuario}) => (
              <article>
                <p>Usuario: {nombreUsuario}</p>
              </article>
            ))
        }
        {
            libros.map(({tituloLibro, nombreAutor, portadaLibro, fechaPubLibro, fondoLibro}) => (
              <article>
                <p>Titulo: {tituloLibro}</p>
                <p>Autor: {nombreAutor}</p>
                <img src={portadaLibro} alt={`Portada de ${tituloLibro}`}>
                <img src={fondoLibro} alt={`Portada de ${fondoLibro}`}>
                <p>Fecha: {fechaPubLibro}</p>
              </article>
            ))
        }
	</main>

    
</Layout>
<script>
    function getAllBooks() {
        fetch('/api/books')
        .then(response => response.json())
        .then(data => {
        	console.log(data);
        })
        .catch(error => console.error('Error:', error));
    }
	getAllBooks();
  </script>
